 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 5px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.defaultHero {
  min-height: calc(80vh - 5px);
  background: url("./images/bocas-cover-min.jpeg") bottom/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  min-height: calc(80vh - 5px);
  background: url("./images/bocas-rooms.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cafeHero {
  background-image: url("./images/bocas-restaurant.jpg");
   min-height: 75vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* Banner */

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
    color: white;
  }
}

/* this is for the slider */
.slider {
  position: relative;
  height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 250px;
  border-radius: 20px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5rem;
  font-size: 3rem;
  /* color: #000; */
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

li {
  list-style: none; 
}

a {
  text-decoration: none;
}
